p, li, h1, h2, h3, h4, h5, h6{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #5a5a5a;
}

body{
    background-color: lightgray;

}

#page{
    background-color: #fffffd;
    width: 768px;
    margin: auto;
    padding: 10px 25px 10px 25px;
    box-shadow: 0 5px 10px #5a5a5a;
    border-radius: 5px;
}
#page img{
    box-shadow: 0 5px 10px #5a5a5a;
    align-content: center;  
}

.contact{
    text-align: right;
}

footer{
    background-color: whitesmoke;
    height: 50px;
    text-align: right;
    padding: 10px 25px 10px 25px;
    margin-top: 10px;

}

