p, li, h1, h2, h3, h4, h5, h6{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #5a5a5a;
}

.page{
    background-color: #fffced;
    width: 768px;
    margin: auto;
    padding: 10px 25px 10px 25px;
}

.contact{
    text-align: right;
}